@font-face {
    font-family: "Futura Medium";
    src: url("fonts/Futura Light.otf");
}

* {
  padding: 0;
  margin: 0;
  border-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Futura Medium";
}

#landing {
	height: 100%;
}

#landing .contents {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
	flex: 1;
	justify-content: center;
	align-items: center;
}

#landing img {
	height: auto;
	width: 45%;
}

 #landing h1 {
	 text-align: center;
     text-transform: uppercase;
	 margin-top: 20px;
	 font-size: 3.5em;
}

#landing p {

}


@media screen and (max-height: 700px) {
  	#landing img {
    	max-height: 40%;
	}
  	#landing h1 {
    	font-size: 2.5em;
	}
  	#landing h3 {
    	font-size: 1em;
	}
}
