@font-face {
    font-family: "Futura Light";
    src: url("fonts/Futura Light.otf");
}

* {
  padding: 0;
  margin: 0;

  /*probably don't need this*/
  border-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Futura Light";
}

#landing {
	height: 100%;
}

#landing .contents {
	/*!important*/
	height: 100%;
	width: 100%;
	/*!*/

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;

	/*!*/
	display: flex;
	-webkit-flex-flow: column nowrap;
	/*!*/

	flex-flow: column nowrap;
	flex: 1;

	/*!*/
	justify-content: center;
	align-items: center;
	/*!*/
}

#landing img {
	height: auto;
	width: 750px;
}

 #landing h1 {
	 text-align: center;
     text-transform: uppercase;
	 margin-top: 20px;
	 font-size: 3.5em;
}

#landing h2 {
	text-align: center;
	text-transform: uppercase;
}

#landing h3 {
	text-align: center;
	text-transform: uppercase;
	margin-top: 30px;
}

@media screen and (max-width: 768px) {
  	#landing img {
		max-height: 100%;
		width: 100%;
	}
	#landing h1 {
		font-size: 2.5em;
	}
	#landing h2 {
		font-size: 1.5em;
	}
	#landing h3 {
		font-size: 1em;
	}
}
