#menu-trigger-label {
    display: none;
}

.menu-trigger {
	position: absolute;
    display: none;
	clip: rect(0,0,0,0);
}

.menu-trigger:checked ~ #navWrapper {
	left: 220px !important;
    background-color: blue !important;
    display: none !important;
}

.menu-trigger + label, #navWrapper {
	transition: left 0.4s;
}

label[for="menu-trigger"] {
	position: fixed;
	float: left;
	top: 0px;
	left: 0px;
	z-index: 200;
	width: 18px;
	height: 18px;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	background-size: contain;
    padding: 14px;
    background-color: black;
}

.menu-box {
	width: 20px;
	height: 20px;
	font-family: "Roboto", Arial;
	background: white;
    z-index: 99999;
}

.menu-box section {
	width: 50%;
	height: 50%;
	float: left;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
}

@keyframes materialResponse {
	0% {
		width: 0;
		height: 0;
		margin: 0;
		background: rgba(255,255,255,0.1);
	}
	100% {
		width: 250%;
		height: 250%;
		margin: -125%;
		background: rgba(255,255,255,0.4);
	}
}

.menu-box section:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 999px;
	cursor: pointer;
}

.menu-box section:active:before {
	animation: materialResponse 0.4s ease;
	z-index: 2;
}

.menu-box {
	background: transparent;
	width: 18px;
	height: 14px;
}

.menu-icon {
	width: 18px;
	height: 14px;
	position: relative;
}

.menu-icon span,
.menu-icon {
	transition: all 500ms ease;
}

.hamburger span {
	background-color: #FFFFFF;
}

.hamburger .first {
	transform: translateY(0px);
}

.hamburger .second {
	transform: translateY(6px);
}

.hamburger .third{
	transform: translateY(12px);
}

.hamburger span, .arrow span, .line span {
	height: 2px;
	width: 20px;
	/*background-color: #ee4035;*/
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateY(0px);
}

.arrow span {
	background-color: #912929;
}

.arrow .first {
	transform: translateX(0px) translateY(6px) rotate(-45deg) scaleX(1.3);
}

.arrow .second {
	transform: translateY(6px);
	background-color: transparent;
}

.arrow .third {
	transform: translateX(0px) translateY(6px) rotate(45deg) scaleX(1.3);
}
