@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir/AvenirLTStd-Medium.woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir/AvenirLTStd-Light.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Bebas';
  src: url('../../fonts/Bebas/Bebas-Regular.ttf');
}
body {
  margin: 0;
  padding: 0;
  height: 2000px;
  font-family: 'Avenir';
  color: #25283d;
  background-color: white;
  overflow-x: hidden;
}
*::selection {
  background: #E9F3F9;
}
.highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 60%,  #fffb87 60%);
}

/* NAV BAR */
#nav-background {
  position: fixed;
  top: -55px;
  left: 0;
  height: 50px;
  width: 100%;
  transition: .1s;
  z-index: 1;
  background-color: white;
  box-shadow: 2px 2px 15px -5px rgba(0,0,0,.1);
}
nav {
  position: fixed;
  float: right;
  margin-top: 15px;
  right: 15%;
  z-index: 1;
}
nav a {
  margin: 0 18px 0 18px;
  font-size: .65em;
  font-weight: bold;
  letter-spacing: .8px;
  text-decoration: none;
  color: inherit;
}

/* HEADER */
  /* logo */
#logo {
  width: 30vw;
  height: calc(.94184397 * 30vw);
  max-height: calc(.94184397 * 500px);
}
.logo-container {
  position: absolute;
  right: 0;
  top: 10vw;
}
  /* header text */
.header-text-container {
  width: 27vw;
  height: 12.5vw;
  top: 12vw;
  position: absolute;
}
.header-text-container #title {
  font-size: 5.2vw;
  font-family: 'Bebas';
  letter-spacing: .05vw;
  margin: 0;
  position: absolute;
}
.header-text-container #subtitle {
  font-size: 1.75vw;
  font-weight: 400;
  letter-spacing: .07vw;
  margin: 0;
  position: absolute;
  top: 6vw;
}
  /* Register button */
.register-button {
  position: absolute;
  top: 10.8vw;
  height: 2.8vw;
  width: 8.5vw;
  background-color: #75C079;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, .23);
  cursor: pointer;
}
.register-button:hover {
  border: 1px solid #68b077;
}
.register-button:active {
  border: 1px solid #68b077;
  margin-top: 1px;
  margin-left: 1px;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, .23),
        inset -.1vw -.1vw .7vw rgba(0,0,0,0.075);
}
.register-button p {
  font-size: 1.4vw;
  letter-spacing: .07vw;
  font-weight: bold;
  color: white;
  margin: 0 0 0 0;
  position: absolute;
  left: 1.35vw;
  top: .65vw;
  user-select: none;
}
  /* Event date */
.header-text-container #date {
  position: absolute;
  top: -1.1vw;
  left: .25vw;
  margin: 0;
  font-size: 1.8vw;
  letter-spacing: .08vw;
  font-weight: bold;
}

/* The content container */
.content-container {
  position: relative;
  margin-left: 15%;
  width: 70%;
  height: 100%;
}

/* Background SVGs */
.background-container #one {
  position: absolute;
  stroke-width: 60px;
}
.background-container #two {
  position: absolute;
  stroke-width: 60px;
  top: calc(10vw + 167px);
}

/* Animations */
@keyframes example {
    0%{}
    50%{}
    100%{}
}
