@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir/AvenirLTStd-Medium.woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir/AvenirLTStd-Light.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Bebas';
  src: url('../../fonts/Bebas/Bebas-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 2000px;
  font-family: 'Avenir';
  color: #25283d;
  background-color: white;
  overflow-x: hidden;
}
/* changes highlight color to blue */
*::selection {
  background: #E9F3F9;
}
/* fancy yellow strike/highlight through text */
.highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 60%,  #fffb87 60%);
}

/* header */
.header-container {
  position: relative;
  height: 39vw;
}
/* nav bar */
#nav-background {
  position: fixed;
  top: -55px;
  left: 0;
  height: 50px;
  width: 100%;
  transition: .1s;
  z-index: 1;
  background-color: white;
  box-shadow: 2px 2px 15px -5px rgba(0,0,0,.1);
}
nav {
  position: fixed;
  right: 25%;
  height: 50px;
  width: inherit;
  z-index: 1;
  /* below prevents lag when resizing to mobile */
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
}
.nav-links {
  display: flex;
  position: fixed;
  top: 15px;
  right: 17.5%;
  list-style: none;
  width: 500px;
  justify-content: space-around;
  align-items: right;
  z-index: 1;
}
.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
}
  /* logo */
#logo {
  width: 30vw;
  height: calc(.94184397 * 30vw);
  max-height: calc(.94184397 * 500px);
}
.logo-container {
  position: absolute;
  right: 0;
  top: 10vw;
}
  /* header text */
.header-text-container {
  width: 27vw;
  height: 12.5vw;
  top: 12vw;
  position: absolute;
}
.header-text-container #title {
  font-size: 5.2vw;
  font-family: 'Bebas';
  letter-spacing: .05vw;
  margin: 0;
  position: absolute;
}
.header-text-container #subtitle {
  font-size: 1.75vw;
  font-weight: 400;
  letter-spacing: .07vw;
  margin: 0;
  left: .16vw;
  position: absolute;
  top: 6vw;
}
  /* register button */
.register-button {
  position: absolute;
  top: 10.8vw;
  height: 2.8vw;
  width: 8.5vw;
  background-color: #75C079;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, .23);
  cursor: pointer;
}
.register-button:hover {
  border: 1px solid #68b077;
}
.register-button:active {
  border: 1px solid #68b077;
  margin-top: 1px;
  margin-left: 1px;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, .23),
        inset -.1vw -.1vw .7vw rgba(0,0,0,0.075);
}
.register-button p {
  font-size: 1.4vw;
  letter-spacing: .07vw;
  font-weight: bold;
  color: white;
  margin: 0 0 0 0;
  position: absolute;
  left: 1.35vw;
  top: .65vw;
  user-select: none;
}
  /* event date */
.header-text-container #date {
  position: absolute;
  top: -1.1vw;
  left: .15vw;
  margin: 0;
  font-size: 1.8vw;
  letter-spacing: .08vw;
  font-weight: bold;
}

/* section styles */
.section-container {
  position: relative;
  margin-top: 120px;
  overflow: hidden;
}

/* about section */
.about-container {
  display: inline-block;
}
.about-info {
  display: inline-block;
  max-width: 500px;
  width: 54%;
  margin-bottom: 50px;
}
.about-info p {
  font-size: 1.1em;
}
.video-container {
  display: inline-block;
  width: 43%;
  max-width: 350px;
  margin-top: auto;
}
.video-container img {
  width: 100%;
}
.right {
  float: right;
}
.left {
  float: left;
}

/* faq section (RIP) */
/* .faq-item {
  height: 50px;
  width: 280px;
  margin: 4px;
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, .15);
}
.faq-item h4 {
  margin: 17px;
}
.faq-item svg {
  float: right;
  margin-top: 17px;
  margin-right: 17px;
  stroke: #D3D3D3;
  stroke-width: 3;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 21px;
  height: 15px;
} */

/* the content container */
.content-container {
  position: relative;
  margin-left: 17.5%;
  width: 65%;
  height: 100%;
}

/* background svgs */
.background-container #one {
  position: absolute;
  stroke-width: 60px;
}
.background-container #two {
  position: absolute;
  stroke-width: 60px;
  top: calc(10vw + 167px);
}

/* animations */
@keyframes example {
    0%{}
    50%{}
    100%{}
}
