body {
  margin: 0;
  font-family: 'Avenir', sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir/AvenirNextLTPro-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir/AvenirNextLTPro-Demi.otf');
  font-weight: bold;
}

.header-container {
  margin-top: calc(40vh - 160px);
  width: 100%;
  display: flex;
  height: 500px;
}
.header-title {
  margin: 0;
  margin-left: calc(50% / 7);
  /* width: 50vw;
  height: 50vh; */
  width: 600px;
  height: 350px;
  /* background-color: #ffcbb3; */
}
.button {
  display: block;
  width: 110px;
  height: 30px;
  font-family: 'Avenir', sans-serif;
  font-size: 14px;
  color: #25283d;
  background-color: #f4d06f;
  border-radius: 4px;
  box-shadow: 0px 3px 0px rgba(244, 208, 111, .7);
  text-align: center;
  line-height: 34px;
  margin-top: -5px;
  text-decoration: none;
  font-weight: bold;
  transition: .3s;
}
.button:hover {
  width: calc(110px * 1.05);
  height: calc(30px * 1.05);
  margin-left: -3px;
  margin-top: -5.5px;
  opacity: .85;
}
.spacer {
  width: 10%;
}
.header-text {
  display: inline-block;
  margin: 90px 25px;
  margin-right: 150px;
}
.header-text h1 {
  margin: 0;
  font-size: 5em;
  color: #a1cce4;
  -webkit-text-stroke: 1px black;
  text-shadow:
    2px 2px 0 #000,
    1px 1px 0 #000;
}
.date {
  font-size: 2em;
  margin: -14px 0 8px 0;
  color: #f4d06f;
  font-weight: bold;
  text-shadow:
    1px 1px 0 #000,
    1px 1px 0 #000;
}
.header-text h2 {
  margin: 0;
  color: #ffcbb3;
  text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

.airplane-container {
  z-index: -1;
  position: absolute;
  right: 20%;
  height: 500px;
  margin-top: -75px;
}

/* Sponsors */
.sponsors-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.sponsors-container {
  width: 80%;
  max-width: 1000px;
  height: 100%;
  padding-bottom: 25px;
  display: inline-block;
  position: relative;
  /* border: 5px solid #ffcbb3; */
  /* border-radius: 15px; */
}
.sponsors-container h1 {
  color: #a1cce4;
  font-size: 3em;
  -webkit-text-stroke: 1px black;
  text-shadow:
    2px 2px 0 #000,
    1px 1px 0 #000;
}
.sponsors-gallery {
  height: calc(100%);
  margin-top: -50px;
}
.sponsors-item {
  width: 200px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
  margin: 15px;
}
.sponsors-item img {
  width: 100%;
}

@media (max-width:720px) {
  .header-title h1 {
    font-size: 3em;
  }
  .date {
    font-size: 1.5em;
  }
  .sponsors-container h1 {
    font-size: 2em;
  }
  .sponsors-gallery {
    margin-top: -20px;
  }
  .header-container {
    height: 290px;
  }
  .airplane-container {
    right: 0;
    height: 900px;
    margin-top: -75px;
  }
  .airplane-container img{
    height: 400px;
  }
  .sponsors-item {
    width: 120px;
    height: 60px;
  }
}

/* * { border: 1px solid black; } */
