@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir/AvenirLTStd-Medium.woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir/AvenirLTStd-Light.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Bebas';
  src: url('../../fonts/Bebas/Bebas-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Avenir';
  color: #25283d;
  background-color: white;
  overflow-x: hidden;
}
/* changes highlight color to blue */
*::selection {
  background: #E9F3F9;
}
/* fancy yellow strike/highlight through text */
.highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 60%,  #fffb87 60%);
}

/* header */
.header-container {
  position: relative;
  height: 39vw;
}
/* nav bar */
#nav-background {
  position: fixed;
  top: -55px;
  left: 0;
  height: 50px;
  width: 100%;
  transition: .1s;
  z-index: 1;
  background-color: white;
  box-shadow: 2px 2px 15px -5px rgba(0,0,0,.1);
}
nav {
  position: fixed;
  right: 25%;
  height: 50px;
  width: inherit;
  z-index: 1;
  /* below prevents lag when resizing to mobile */
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
}
.nav-links {
  display: flex;
  position: fixed;
  top: 18px;
  right: 17.5%;
  list-style: none;
  width: 500px;
  justify-content: space-around;
  align-items: right;
  z-index: 1;
}
.nav-links li {
  color: black;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}
  /* logo */
#logo {
  width: 30vw;
  height: calc(.94184397 * 30vw);
  max-height: calc(.94184397 * 500px);
}
.logo-container {
  position: absolute;
  right: 0;
  top: 10vw;
}
  /* header text */
.header-text-container {
  width: 27vw;
  height: 20vw;
  top: 12vw;
  position: relative;
}
.title {
  font-size: 5.2vw;
  font-family: 'Bebas';
  letter-spacing: .05vw;
  margin: 0;
  position: absolute;
}
.subtitle {
  font-size: 1.75vw;
  font-weight: 400;
  letter-spacing: .07vw;
  margin: 0;
  left: .16vw;
  position: absolute;
  top: 6vw;
}
  /* buttons */
.buttons {
  position: absolute;
  width: 100%;
  height: 9vw;
  display: inline-block;
  bottom: 0;
}
.button {
  display: inline-block;
  position: relative;
  height: 2.8vw;
  margin: 2px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, .23);
  cursor: pointer;
}
    /* button colors */
.button:nth-child(1) {
  background-color: #75C079;
}
.button:nth-child(2) {
  background-color: #F4D06F;
}
.button:nth-child(3) {
  background-color: #5B6299;
}
.button:nth-child(4) {
  background-color: #75C079;
}
.button:active {
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, .23),
        inset -.1vw -.1vw .7vw rgba(0,0,0,0.075);
}
.button p {
  font-size: 1.4vw;
  letter-spacing: .07vw;
  font-weight: bold;
  color: white;
  margin: 0 0 0 0;
  padding: 0 1.35vw;
  margin-top: .63vw;
  user-select: none;
}

/* section styles */
.section-container {
  position: relative;
  margin-top: 100px;
  overflow: visible;
}

/* about section */
.about-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}
.about-info {
  display: inline-block;
  max-width: 500px;
  width: 54%;
}
.about-info p {
  font-size: 1.1em;
}
.video-container {
  display: inline-block;
  width: 43%;
  max-width: 350px;
  margin-top: auto;
}
.video-container img {
  width: 100%;
}
.right {
  float: right;
}
.left {
  float: left;
}

/* archive */
.archive-item {
  list-style: none;
  float: left;
  height: 270px;
  border-radius: 12px;
  position: relative;
  background: grey;
  cursor: pointer;
  user-select: none;
  box-shadow: 2px 2px 15px -1px rgba(0, 0, 0, .18);
  transition: margin-top .25s ease;
}
.archive-item:hover {
  margin-top: -3px;
  transition: margin-top .25s ease;
}
.archive-item p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 5%;
  color: white;
  font-weight: bold;
}
.archive-item img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 8%;
  height: 60%;
  pointer-events: none;
}
.archive-row2 {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.archive-row2 li {
  width: calc(50% - 10px);
}
.archive-row2 li:nth-child(1) {
  margin-right: 20px;
}
.archive-row3 {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.archive-row3 li {
  width: calc(33.33% - 13.33px);
}
.archive-row3 li:nth-child(1) {
  margin-right: 20px;
}
.archive-row3 li:nth-child(2) {
  margin-right: 20px;
}
.archive-container {
  width: 100%;
  height: 491px;
}
/* archive info */
#archive-info {
  margin-top: 120px;
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #fcfcfc;
  box-shadow: 2px 2px 15px -1px rgba(0, 0, 0, .18);
  transition-property: height, opacity;
  transition: .3s;
}
.archive-info-container {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-top: 40px;
}
.archive-info-container .head {
  width: 100%;
  height: 60px;
  position: relative;
  margin-bottom: 35px;
}
.archive-info-container .head #year {
  font-size: 60px;
  height: 60px;
  display: inline-block;
  position: absolute;
}
.archive-info-container .head .button {
  display: inline-block;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: 0;
  background: #75C079;
}
/* .archive-info-container .line {
  width: 100%;
  height: 0px;
  background: #aaa;
  margin: 20px 0;
} */
#team-button {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  border-radius: 12px;
  box-shadow: 2px 2px 15px -1px rgba(0, 0, 0, .16);
  position: relative;
  cursor: pointer;
  user-select: none;
}
#team-button p {
  position: absolute;
  top: 15px;
  left: 22px;
  font-weight: bold;
  font-size: 18px;
}
#team-button img {
  src: url("../../img/assets/2020/exit-button.svg");
  width: 15px;
  position: absolute;
  right: 25px;
  top: 20px;
}
.stats {
  width: 100%;
}
.stats-item {
  display: inline-block;
}
.stats-item p {
  opacity: .8;
}
.stats-item:nth-child(1) {
  width: 40%;
}
.stats-item:nth-child(2) {
  width: 35%;
}
.stats-item:nth-child(3) {
  width: 20%;
}
/* newest card */
#newest-container {
  float: right;
  margin: 0;
  margin-right: 10%;
  width: 80%;
  height: 250px;
  position: relative;
  margin-bottom: 25px;
}
.newest-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}
.newest-card {
  height: 250px;
  width: 180px;
  border-radius: 8px;
  float: right;
  background: url("../../img/assets/2020/lined-paper.jpg");
  background-size: cover;
}
.newest-card p {
  display: inline-block;
  text-align: center;
  color: #25283d;
}
.newest-card h1 {
  color: #25283d;
  width: 110px;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 35%;
  font-weight: bold;
}
.newest-text .newest-title {
  font-size: 5vw;
  font-weight: normal;
  font-family: 'Bebas';
  letter-spacing: .05vw;
}
.newest-text .newest-subtitle {
  display: inline-block;
  font-size: 2.2vw;
  position: relative;
}
.newest-text .newest-subtitle span {
  font-size: 3vw;
  font-weight: bold;
  font-style: italic;
}
.newest-text .highlight {
  position: absolute;
  top: 7.5vw;
  left: 3.8vw;
  height: 1.3vw;
  width: 5.7vw;
  display: inline-block;
  background: #fffb87;
}
.newest-text .button {
  float: right;
  display: inline-block;
}
#year2019 {
  background: url("../../img/assets/2020/2019-background.png");
  background-size: cover;
}
#year2018 {
  background: #333333;
}

/* contact */
.contact-container {
  width: 100%;
  text-align: center;
}
.contact-text h1 {
  text-align: left;
}
.contact-text a {
  text-decoration: none;
  color: #1E36DA;
  font-weight: bold;
}
.contact-text {
  text-align: left;
  display: inline-block;
  max-width: 600px;
}
.social-container {
  width: 100%;
}
.icons {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  text-align: center;
}
.icons img {
  width: 24px;
  margin: 15px;
}

/* footer */
.footer {
  display: inline-block;
  position: absolute;
  top: 10px;
  z-index: 1;
  font-size: 11px;
  opacity: .9;
  margin-bottom: 10px;
}
.footer-background {
  position: absolute;
  background: white;
  width: 200vw;
  height: 40px;
  left: -100vw;
  box-shadow: -2px -2px 15px -5px rgba(0,0,0,.1);
}

/* the content container */
.content-container {
  position: relative;
  margin-left: 17.5%;
  width: 65%;
  height: 100%;
}

/* background svgs */
.background-container {
  position: absolute;
  width: 100%;
}
.background-container svg {
  position: relative;
  stroke-width: 60px;
  z-index: -1;
  overflow: visible;
}
.background-container svg:nth-child(1) {
}
.background-container svg:nth-child(2) {
  margin-top: 10vw;
}
.background-container svg:nth-child(3) {
  margin-top: 550px;
}

/* animations */
@keyframes example {
    0%{}
    50%{}
    100%{}
}
