@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir/AvenirLTStd-Black.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir/AvenirLTStd-Medium.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Bebas';
  src: url('../../fonts/Bebas/Bebas-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
}
html, body {
  font-family: 'Avenir';
  color: black;
  background-color: white;
}
/* changes highlight color to blue */
*::selection {
  background: #E9F3F9;
}

/* nav */
nav {
  position: absolute;
  right: 25%;
  height: 50px;
  width: inherit;
  z-index: 1;
  /* below prevents lag when resizing to mobile */
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
}
.nav-links {
  display: flex;
  position: absolute;
  top: 18px;
  right: 17.5%;
  list-style: none;
  width: 470px;
  justify-content: space-around;
  align-items: right;
  z-index: 1;
}
.nav-links li {
  color: black;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}
.logo-container {
  position: absolute;
  height: 30px;
  top: 10px;
  left: 10%;
}
.logo-container img {
  height: 100%;
}
.logo-container p {
  float: right;
  font-family: 'Bebas';
  letter-spacing: 1px;
  font-size: 1.3em;
  margin-top: 2px;
  margin-left: 3px;
  color: #1A345F;
  opacity: .9;
}
/* global sections */
.section-cover {
  text-align: center;
}
.section {
  display: inline-block;
  text-align: left;
  margin-top: 170px;
  width: 80%;
}
/* header */
.header-content {
  display: inline-block;
}
.header-content .title {
  font-size: 36px;
  letter-spacing: .8px;
}
.header-content .loc-date {
  font-size: 14px;
}
.header-content .register-info {
  margin-top: 30px;
  color: #464646;
  font-size: 14px;
}
.header-content .register {
  display: inline-block;
  margin-top: 10px;
}
.header-content .register .learn-more {
  float: right;
  color: #8BC68E;
  margin-top: 12px;
  margin-left: 10px;
}
.header-content .register .learn-more a {
  font-weight: bold;
  text-decoration: none;
  color: #75C079;
}
/* button */
.button {
  display: inline-block;
  position: relative;
  height: 43px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, .23);
  cursor: pointer;
}
.button:active {
  box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, .23),
        inset -.1vw -.1vw .7vw rgba(0,0,0,0.075);
}
.button p {
  text-shadow: 2px 1px 3px rgba(0,0,0, .1);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  padding: 0 20px;
  margin-top: 10px;
  user-select: none;
}

/* animations */
@keyframes name {
    0%{}
    50%{}
    100%{}
}
