/* DESKTOP */
@media (min-width:1440px) {
  .section {
    width: 975px;
  }
}

/* STYLE FIXES */
@media (max-width:968px) {
  /* about */
  .about-content h1 {
    font-size: 26px;
  }
  .about-content p {
    font-size: 13px;
  }
  /* registering */
  .register-item {
    width: 200px;
    height: calc(1.20533333333 * 200px);
  }
  .register-content {
    height: 180px;
  }
  .register-content h1 {
    font-size: 23px;
  }
  .register-content p {
    font-size: 13px;
  }
  .register-content .button {
    margin-left: 20px;
    font-size: 14px;
  }
  .register-content .button p {
    font-size: 14px;
  }
}

/* TABLET */
@media (max-width:720px) {
  /* nav bar/hamburger */
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #25283d;
    margin: 5px;
    border-radius: 25px;
    transition: transform .1s;
  }
  nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 150px;
    height: 150vh;
    background: #fff;
    z-index: 2;
    box-shadow: 3px 3px 15px -5px rgba(0,0,0,.5);
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    transition: transform 200ms linear;
  }
  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 10px;
    z-index: 3;
  }
  .nav-links {
    right: 40px;
    top: 60px;
    height: 250px;
    width: auto;
    flex-direction: column;
    pointer-events: all;
  }
  nav.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: transform 200ms linear;
  }
  .hamburger .line:nth-child(1).open {
    transform-origin: center;
    transform: rotate(45deg) translate(6px, 5px);
    transition: transform .1s;
  }
  .hamburger .line:nth-child(2).open {
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .1s;
  }
  .hamburger .line:nth-child(3).open {
    transform-origin: center;
    transform: rotate(-45deg) translate(6px, -6px);
    transition: transform .1s;
  }
  .nav-links li {
    float: right;
    font-size: 14px;
    margin: 0;
  }
  /* global sections */
  .section {
    width: 80%;
  }
  /* header */
  .header-content {
    text-align: center;
    width: 100%;
  }
  .header-content .title {
    font-size: 32px;
  }
  .header-content .loc-date {
    font-size: 14px;
  }
  .header-content .register-info {
    font-size: 14px;
  }
  .header-content .register .learn-more {
    margin-top: 9px;
  }
  /* button */
  .button {
    height: 36px;
  }
  .button p {
    font-size: 15px;
    margin-top: 10px;
  }
  /* about */
  #about .section {
    margin-bottom: 130px;
  }
  .about-content {
    width: 80%;
    margin-left: 10%;
  }
  .about-content h1 {
    font-size: 22px;
  }
  .about-content p {
    font-size: 10px;
  }
  /* registering */
  .register-item {
    width: 150px;
    height: calc(1.20533333333 * 150px);
    margin: 3px;
  }
  .register-container {
    margin-top: -100px;
  }
  .register-content {
    margin-top: 18px;
    height: 138px;
  }
  .register-content h1 {
    font-size: 18px;
  }
  .register-content p {
    margin-top: 10px;
    font-size: 10px;
  }
  .register-content .button {
    margin-left: 12px;
    height: 30px;
  }
  .register-content .button p {
    margin-top: 8px;
    padding: 0 2vw;
    font-size: 12px;
  }
  /* footer */
  .footer-container {
    width: 90%;
    margin-left: 5%;
  }
  /* background */
  .background {
    position: absolute;
    width: 100%;
  }
  .bheader {
    top: 0;
  }
  .bheader img {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    opacity: .7;
    margin: auto;
  }
  .bright {
    margin-top: 150px;
  }
  .bright img {
    position: absolute;
    right: 10px;
    width: 100px;
  }
  .bleft {
    margin-top: 150px;
  }
  .bleft img {
    position: absolute;
    left: 10px;
    width: 100px;
  }
}

/* PHONE */
@media (max-width:520px) {
  /* about */
  .about-content {
    width: 100%;
    margin-left: 0;
  }
  /* registering */
  .register-item {
    width: 120px;
    height: calc(1.20533333333 * 120px);
    margin: 0;
  }
  .register-content {
    margin-top: 18px;
    height: 108px;
  }
  .register-content h1 {
    font-size: 14px;
  }
  .register-content p {
    margin-top: 0px;
    font-size: 7px;
  }
  .register-content .button {
    margin-left: 14px;
    height: 24px;
    border-radius: 7px;
  }
  .register-content .button p {
    margin-top: 6px;
    letter-spacing: .5px;
    padding: 0 1.8vw;
    font-size: 10px;
  }
  /* footer */
  .footer-container {
    width: 95%;
    margin-left: 2.5%;
  }
}

/* SMALL SMALL... */
@media (max-width:430px) {
  /* header */
  .header-content .title {
    font-size: 23px;
  }
  .header-content .loc-date {
    font-size: 11px;
  }
  .header-content .register-info {
    font-size: 10px;
  }
  .header-content .register .learn-more {
    margin-top: 9px;
    font-size: 13px;
  }
  /* button */
  .button {
    height: 32px;
  }
  .button p {
    font-size: 13px;
    margin-top: 8px;
  }
  /* footer */
  .footer-container {
    width: 100%;
    margin-left: 0%;
  }
}
