@media (min-width:1440px) {
  nav {
    right: calc((100% - 1008px) / 2);
  }
  #logo {
    width: 432px;
    height: 406px;
  }
  .logo-container {
    top: 144px;
  }
  .header-text-container {
    width: 388px;
    height: 180px;
    top: 173px;
  }
  .header-text-container #title {
    font-size: 4.68em;
    letter-spacing: 1px;
  }
  .header-text-container #subtitle {
    font-size: 1.57em;
    letter-spacing: 1.2px;
    top: 82px;
  }
  .register-button {
    height: 40px;
    width: 123px;
    border-radius: 8px;
    top: 155px;
  }
  .register-button p {
    font-size: 1.26em;
    letter-spacing: 1px;
    left: 20px;
    top: 5.4px;
  }
  .header-text-container #date {
    position: absolute;
    top: -15.84px;
    left: 3.6px;
    font-size: 1.62em;
    letter-spacing: 1.2px;
  }
  .content-container {
    margin-left: calc((100% - 1008px) / 2);
    width: 1008px;
  }
  .background-container #two {
    margin-top: calc(200px - 10vw);
    transition: .5s;
    stroke-width: 52px;
    transform: rotate(-8deg) scale(1.2) translate(10px, 0px);
  }
}

@media (max-width:720px) {
  nav {
    right: 5%;
    font-size: .65em;
  }
  nav a {
    margin: 0 15px 0 15px;
  }
  #logo {
    width: 216px;
    height: 203px;
  }
  .logo-container {
    top: 70px;
  }
  .header-text-container {
    width: 195px;
    height: 100px;
    top: 85px;
  }
  .header-text-container #title {
    font-size: 2.3em;
    letter-spacing: .8px;
  }
  .header-text-container #subtitle {
    font-size: .786em;
    letter-spacing: .6px;
    top: 41px;
  }
  .register-button {
    height: 25px;
    width: 69px;
    border-radius: 6px;
    top: 80px;
  }
  .register-button p {
    font-size: .68em;
    letter-spacing: .8px;
    left: 10px;
    top: 4.5px;
  }
  .header-text-container #date {
    position: absolute;
    top: -8px;
    left: 2px;
    font-size: .79em;
    letter-spacing: 1px;
  }
}

@media (max-width:520px) {
  nav {
    right: 1%;
    font-size: .6em;
    font-weight: normal;
  }
  nav a {
    margin: 0 10px 0 10px;
  }
  .header-text-container #subtitle {
    font-weight: 400;
  }
  .content-container {
    margin-left: 10%;
    width: 80%;
  }
}

@media (max-width:430px) {
  .content-container {
    margin-left: 5%;
    width: 90%;
  }
}
