/* DESKTOP */
@media (min-width:1440px) {
  /* header */
  .header-container {
    height: 562px;
  }
  #logo {
    width: 432px;
    height: 406px;
  }
  .logo-container {
    top: 144px;
  }
  .header-text-container {
    width: 388px;
    height: 288px;
    top: 173px;
  }
  .title {
    font-size: 4.68em;
    letter-spacing: 1px;
  }
  .subtitle {
    font-size: 1.57em;
    letter-spacing: 1.2px;
    top: 86px;
    left: 3px;
  }
  /* buttons */
  .buttons {
    height: 130px;
  }
  .button {
    height: 40px;
  }
  .button p {
    font-size: 1.26em;
    letter-spacing: 1px;
    padding: 0 20px;
    margin-top: 9px;
  }
  /* background */
  .content-container {
    margin-left: calc((100% - 1008px) / 2);
    align-self: center;
    width: 1008px;
  }
  .background-container svg:nth-child(2) {
    margin-top: calc(200px - 5vw);
    transition: .5s;
    stroke-width: 52px;
    transform: rotate(-8deg) scale(1.2) translate(10px, 0px);
  }
  /* newest archive */
  .newest-text .newest-title {
    font-size: 72px;
    letter-spacing: 1px;
  }
  .newest-text .newest-subtitle {
    font-size: 31.6px;
  }
  .newest-text .newest-subtitle span {
    font-size: 43.2px;
  }
  .newest-text .highlight {
    top: 108px;
    left: 55px;
    height: 18px;
    width: 82px;
  }
}

/* STYLE FIXES */
@media (max-width:968px) {
  .content-container {
    width: 75%;
    margin-left: 12.5%;
  }
  .about-info p {
    font-size: .98em;
  }
  .background-container svg:nth-child(3) {
    margin-top: 610px;
  }
  /* archive */
  .archive-item {
    height: 220px;
  }
  #newest-container {
    margin-right: 5%;
    width: 90%;
  }
  .stats-item h1 {
    font-size: 20px;
  }
  .stats-item p {
    font-size: 16px;
  }
}

/* TABLET */
@media (max-width:720px) {
  /* nav bar/hamburger */
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #25283d;
    margin: 5px;
    border-radius: 25px;
    transition: transform .1s;
  }
  nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 150px;
    height: 100vh;
    background: #fff;
    box-shadow: 3px 3px 15px -5px rgba(0,0,0,.5);
    -webkit-transform: translateX(150px);
		transform: translateX(150px);
	  transition: transform 200ms linear;
  }
  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 10px;
    z-index: 2;
  }
  .nav-links {
    right: 40px;
    top: 60px;
    height: 250px;
    width: auto;
    flex-direction: column;
    pointer-events: all;
  }
  nav.open {
    -webkit-transform: translateX(0);
		transform: translateX(0);
	  transition: transform 200ms linear;
  }
  .hamburger .line:nth-child(1).open {
    transform-origin: center;
    transform: rotate(45deg) translate(6px, 5px);
    transition: transform .1s;
  }
  .hamburger .line:nth-child(2).open {
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .1s;
  }
  .hamburger .line:nth-child(3).open {
    transform-origin: center;
    transform: rotate(-45deg) translate(6px, -6px);
    transition: transform .1s;
  }
  .nav-links li a {
    float: right;
    font-size: 14px;
    margin: 0;
  }
  /* about */
  .video-container {
    float: none;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 20px;
    max-width: none;
  }
  .about-info {
    max-width: none;
    width: 100%;
  }
  .about-container p {
    font-size: .9em;
  }
  /* header */
  .header-container {
    height: 276px;
  }
  #logo {
    width: 216px;
    height: 203px;
  }
  .logo-container {
    top: 70px;
  }
  .header-text-container {
    width: 195px;
    height: 145px;
    top: 85px;
  }
  .title {
    top: 2px;
    font-size: 2.3em;
    letter-spacing: .8px;
  }
  .subtitle {
    font-size: .786em;
    letter-spacing: .6px;
    top: 45px;
  }
  /* buttons */
  .buttons {
    height: 65px;
  }
  .button {
    height: 25px;
  }
  .button p {
    font-size: .68em;
    letter-spacing: .8px;
    padding: 0 10px;
    margin-top: 6px;
  }
  /* background */
  .background-container svg:nth-child(2) {
    margin-top: calc(200px - 12vw);
  }
  .background-container svg:nth-child(3) {
    margin-top: 1090px;
  }
  /* archive */
  .archive-item {
    height: 150px;
  }
  .archive-item p {
    font-size: 12px;
  }
  /* newest archive */
  .newest-text .newest-title {
    font-size: 36px;
    letter-spacing: -.2px;
  }
  .newest-text .newest-subtitle {
    font-size: 16px;
  }
  .newest-text .newest-subtitle span {
    font-size: 22px;
  }
  .newest-text .highlight {
    top: 54px;
    left: 27.5px;
    height: 9.3px;
    width: 41px;
  }
  .newest-card {
    height: 190px;
    width: 30vw;
  }
  .newest-card h1 {
    top: 50px;
    font-size: 4vw;
  }
}

/* PHONE */
@media (max-width:520px) {
  .content-container {
    margin-left: 10%;
    width: 80%;
  }
}

/* SMALL SMALL... */
@media (max-width:430px) {
  .content-container {
    margin-left: 5%;
    width: 90%;
  }
}
