body {
  margin: 0;
  padding:0;
  height: 2000px;
  font-family: 'Avenir';
  color: #;
  background-color: white;
}
*::selection {
    background: #E9F3F9;
}
.highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 60%,  #fffb87 60%);
}

@font-face {
  font-family: 'Avenir';
  src: url('../../fonts/Avenir/Avenir.ttc');
}
@font-face {
  font-family: 'Bebas';
  src: url('../../fonts/Bebas/Bebas-Regular.ttf');
}

/* HEADER */
  /* logo */
#logo {
  width: 30vw;
  height: calc(.94184397 * 30vw);
  max-height: calc(.94184397 * 500px);
}
.logo-container {
  position: absolute;
  right: 0;
  top: 10vw;
}
  /* header text */
.header-text-container {
  width: 27vw;
  height: 12.5vw;
  margin-top: 12vw;
  position: relative;
}
.header-text-container #title {
  font-size: 5.2vw;
  font-family: 'Bebas';
  letter-spacing: .05vw;
  margin: 0;
  position: absolute;
}
.header-text-container #subtitle {
  font-size: 1.75vw;
  font-weight: 400;
  font-weight: bold;
  letter-spacing: .07vw;
  margin: 0;
  position: absolute;
  top: 5.7vw;
}
  /* Register button */
.register-button {
  height: 2.8vw;
  width: 8.5vw;
  background-color: #75C079;
  border-radius: 6px;
  position: absolute;
  top: 10.8vw;
  cursor: pointer;
}
.register-button p {
  font-size: 1.4vw;
  letter-spacing: .07vw;
  font-weight: bold;
  color: white;
  margin: 0 0 0 0;
  position: absolute;
  left: 1.35vw;
  top: .43vw;
  user-select: none;
}
  /* Event date */
.header-text-container #date {
  position: absolute;
  top: -1.1vw;
  left: .25vw;
  margin: 0;
  font-size: 1.8vw;
  letter-spacing: .08vw;
  font-weight: bold;
}

/* The content container */
.content-container {
  position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
  height: 100%;
}

/* Background SVGs */
.background-container #one {
  stroke-width: 60px;
}
.background-container #two {
  stroke-width: 60px;
  margin-top: 10vw;
  transition: .5s;
}

/* Animations */
@keyframes pulsing {
    0%{stroke-width:50px}
    50%{stroke-width:60px}
    100%{stroke-width:50px}
}
