.about-content {
  width: 60%;
  max-width: 700px;
  height: auto;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 75px;
}
@media (max-width:720px) {
  .about-content {
    width: 95%;
  }
}
.about-content h2 {
  font-size: .8em;
  letter-spacing: 10px;
  margin: 0;
  font-weight: 400;
}
.about-content h1 {
  font-size: 2.5em;
  margin: 0;
  margin-top: 25px;
}
.about-content p {
  font-size: 1.1em;
  margin: 13px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: left;
}

/* FAQ Section */
table {
}
tr {
}
th {
  text-align: left;
  font-size: 18px;
  width: 33.33%;
}
td {
  vertical-align: top;
  text-align: left;
  padding-right: 10px;
}

* {
  /* border: 1px solid red; */
}
