/*
   The main style sheet for the Hacklahoma website.
*/

/*
	Avenir typeface
*/
@font-face {
	font-family: "Avenir";
	src: url("fonts/Avenir/AvenirNextLTPro-UltLt.otf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir/AvenirNextLTPro-Regular.otf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family: "Avenir";
	src: url("fonts/Avenir/AvenirNextLTPro-Medium.otf");
    font-weight: 400;
    font-style: normal;
}

/*
	Futura typeface
*/
@font-face {
	font-family: "Futura";
	src: url('fonts/Futura/FuturaPRO-Book.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family: "Futura";
	src: url('fonts/Futura/FuturaPRO-Heavy.otf');
    font-weight: 500;
    font-style: normal;
}

/*
	Default style for the body of the webpage.
*/
body {
	background: #FFFFFF; /* Dark grey */
	-webkit-font-smoothing: antialiased; /* Makes fonts smoother. Not necessary, just looks nice. */

	font-family: "Avenir"; /* Use Avenir by default, can change for certain elements. */
	color: #000; /* Text color should be white by default, can change for certain elements. */

	overflow-x: hidden;
	overflow-y: scroll;

	margin: 0 auto;
	width: 100%;
	height: 100%;
}

/*
	Default style for text elements within the h1 tag.
*/
h1 {
	font-family: "Futura";
	font-size: 4em;
	font-size: 5vw;
    font-weight: 300;
    letter-spacing: .06em;
	margin-top: .4em;
	margin-bottom: .4em;
}

/*
	Default style for text elements within the h3 tag.
*/
h3 {
    font-family: "Futura";
	font-size: 1.5em;
    font-weight: 300;
    letter-spacing: .06em;
	margin-top: .4em;
	margin-bottom: .4em;
}

/*
	Style for futura heavy.
*/
h1 .bold, h3 .bold {
	font-family: "Futura";
    font-weight: 500;
	font-size: 2em;
	letter-spacing: .06em;
}

/*
	Default style for the main section headings.
*/
.anchor {
	font-family: "Futura";
    font-weight: 300;
	font-size: 4em;
	margin-top: 0em;
	margin-bottom: .4em;
	padding-top: 60px;
}

/*
	Default style for text elements within the p tag.
*/
p {
    font-weight: 300;
	font-size: 1em;
	margin-top: .4em;
	margin-bottom: .4em;
}

/*
	Style for avenir medium.
*/
p .bold {
	font-size: 1em;
}

a {
    text-decoration: none;
}

/*
	Style for the pattern traces.
*/
#traces {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: visible;
    z-index: 20;
}

/*
	Style for the header.
*/
#header {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 4em;
}

/*
	Style for the header items.
*/
.header-info {
	display: block;
	text-align: center;
	vertical-align: middle;
    margin-top: 2em;
	width: 100%;
}

/*
	The style for the logo placed in the header.
*/
.logo {
    max-width: 80%;
    max-height: 40vh;
    width: auto;
    height: auto;
}

/*
	The style for the dates placed in the header.
*/
.dates {
	font-size: 42px;
	font-size: 2.92vw;
	text-align: center;
	text-transform: none;
	margin-top: .625em;
	margin-bottom: 0;
}

/*
	The style for the location placed in the header.
*/
.location {
	font-size: 28px;
	font-size: 1.94vw;
	text-align: center;
	text-transform: none;
	margin: 0;
}

/*
	Properties for the position of the nav bar when the user is not looking at the content pane.
*/
.absolute {
	position: absolute;
	left: 0;
	right: 0;
}

/*
	Properties for the position of the nav bar when the user is looking at the content pane.
*/
.fixed {
	position: fixed;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
	top: 0;
	left: 0;
}

/*
	Style for the content container.
*/
#contentPane {
	position: relative;
	padding-top: 0.625em;
	width: 100%;
	height: auto;
	overflow: auto;
	left: 0;
    margin: 0 0%;
}

/*
	Style for the About section.
*/
#about {
	display: flex;
    flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	max-width: 65%;
    margin-top: 1em;
	margin-bottom: 5em;
	height: auto;
	text-align: left;
}

#about div {
    flex: 0 0 26%;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 5px;
    height: auto;
}

/*
	Style for the FAQ section.
*/
#faq {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2em;
	height: auto;
	width: 100%;
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
	box-shadow: 0 0 3em #000000;
	-moz-box-shadow: 0 0 3em #000000;
	-webkit-box-shadow: 0 0 3em #000000;
}

/*
	Style for the content of the FAQ section.
*/
#faqContent {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
    margin-top: 1em;
}

/*
	Style for each item of the FAQ section.
*/
#faqItem {
	flex: 0 0 calc(100% - 4em);
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 5px;
    height: auto;
}

/*
	Style for the Agenda section.
*/
#agenda {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
    overflow: hidden;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    padding-top: 20px;
    width: 12%;
    padding-right: 2em;
}

td {
    padding-top: 20px;
    width: 88%;
}

/*
	Style for the Sponsors section.
*/
#sponsors {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2em;
	height: auto;
	width: 100%;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	box-shadow: 0 0 3em #000000;
	-moz-box-shadow: 0 0 3em #000000;
	-webkit-box-shadow: 0 0 3em #000000;
}

/*
	Content wrapper for the Sponsors section.
*/
.sponsorsLogos {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/*
	Style for the container of each sponsor's logo.
*/
.sponsorLogo {
	/*flex: 0 0 auto;
	margin: auto;
	max-width: 100%;
	*/
	flex: 0 0 25%;
	margin-left: 2em;
	margin-right: 2em;
	height: auto;
	margin-bottom: 2em;
}

/*
	Style for the image of each sponsor's logo.
*/
.sponsorLogo img {
	max-width: 100%;
	min-width: auto;
	height: auto;
}

/*
	Style for the Judges section.
*/
#judges {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-bottom: 5em;
	height: auto;
	overflow: hidden;
}

/*
	Style for the footer.
*/
#footer {
	background-color: #FFFFFF;
	color: #333333;
	left: 0;
	right: 0;
	width: 100%;
	height: 8em;
	position: absolute;
	bottom: -8em;
	text-align: center;
	flex-shrink: 0;
	box-shadow: 0 0 3em #000000;
	-moz-box-shadow: 0 0 3em #000000;
	-webkit-box-shadow: 0 0 3em #000000;
}

/*
	Style for the social media logos.
*/
.socialMedia {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	max-width: 9.375em;
	width: 9.375em;
	height: 3.125em;
	padding-right: 5px;
	margin-top: -2em;
}

/*
	Style for the MLH trust badge container.
*/
#mlh-trust-badge {
	display: block;
	max-width: 100px;
	min-width: 60px;
	position: fixed;
	right: 20px;
	right: 1.5vw;
	top: 0;
	width: 10%;
	z-index: 10000;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

/*
	Style for the MLH trust badge image.
*/
#mlh-trust-badge img{
    top: -8px;
    position: relative;
    transition: top 150ms ease-in;
}

/*
	Style for the MLH trust badge image when the user hovers
	over the MLH trust badge.
*/
#mlh-trust-badge img:hover {
	top: 0px;
}
