:root {
  --accent-color-1: #D65822; /* #D65822 #FF9366 #057F9B */
  --accent-color-2: #FFD993; /* #FFD993 #06AED5 */
}

/* Importing fonts */
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirNextLTPro-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/AvenirNextLTPro-Demi.otf');
  font-weight: bold;
}

/* Body */
body {
  background-color: #1C2A3F;
  margin: 0;
  font-family: 'Avenir';
}
a {
  text-decoration: none;
  background: linear-gradient(130deg, var(--accent-color-1), var(--accent-color-2), #2B4162, #64748C);
  background-size: 300% 300%;
  background-position: 100% 90%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .75s;
}
a:hover {
  background-position: 0% 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navigation tabs */
nav {
  text-align: center;
  padding-top: 5px;
  width: 100%;
}
.nav-container {
  display: inline-block;
}
nav a {
  float: left;
  margin: 10px;
  font-size: 1em;
  color: #2B4162;
}
.active-tab {
   font-weight:bold;
   animation: title 7s linear reverse;
}

/* Header */
.header-container {
  text-align: center;
  height: 260px;
  background-color: #f4f4f4
}
.header-title {
  margin-top: 50px;
}
.header-title h1 {
  margin: 0;
  display: inline-block;
  font-size: 4em;
  letter-spacing: 2px;
  /* for gradient animations */
  animation: title 15s linear infinite;
  animation-delay: -10s;
  background: linear-gradient(150deg, #2B4162, #64748C, var(--accent-color-1), var(--accent-color-2), #2B4162, #64748C);
  background-size: 500% 500%;
  background-position: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-title a {
  font-size: 1.1em;
}
.header-title i {
  border: solid #2B4162;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  animation: bump 10s ease-in-out infinite;
  animation-delay: -3.5s;
}
a:hover i {
  border: solid #FFD993;
  border-width: 0 2px 2px 0;
  transition: 1s;
}

/* Content */
.content-backsplash {
  text-align: center;
  height: auto;
  background: linear-gradient(170deg, #2B4162, #51637E /* #64748C */);
  background-size: 400% 400%;
  animation: background 12s ease infinite;
  color: white;
  margin: 0;
}
.content-container {
  display: inline-block;
  text-align: left;
  width: 80%;
  max-width: 845px;
  height: auto;
  margin-top: 80px;
  margin-bottom: 50px;
}
.content-row {
  height: 20vw;
  font-size: 1.5vw;
  margin-bottom: 5vw;
}
.home-team img {
  width: 40%;
  float: right;
  margin-left: 10px;
}
.home-history img {
  width: 40%;
  float: left;
  margin-right: 10px;
  transition: .15s;
}
.content-row-info p {
  margin: 0;
  transition: .15s;
  font-weight: normal;
}
.content-row-info h1 {
  margin: 0;
  transition: .15s;
}
.content-row-info a {
  font-weight: bold;
  background: linear-gradient(130deg, var(--accent-color-2), #FF9366, #ddd, #ffffff);
  background-size: 300% 300%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .75s;
  font-size: 1.7vw;
  margin: 0;
}
.content-row-info a:hover {
  background-position: 100% 90%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width:1070px) {

  .content-row-info p {
    font-size: 17px;
  }
  .content-row-info h1 {
    font-size: 32px;
  }
  .content-row-info a {
    font-size: 18px;
  }
  .content-row {
    height: 216px;
    margin-bottom: 50px;
  }
}
@media (max-width:720px) {
  .content-container {
    width: 95%;
  }
  .content-container p {
    font-size: 17px;
  }
  .content-container h1 {
    font-size: 26px;
  }
  .content-row-info a {
    font-size: 16px;
  }
  .content-row {
    height: auto;
    margin-bottom: 20px;
  }
  .content-row img {
    float: none;
    margin: 0;
    width: 84%;
    margin-left: 8%;
  }
  .content-row-info {
    width: 84%;
    margin-left: 8%;
  }
}

/* Footer */
.footer-divider {
  height: 3px;
  background: linear-gradient(150deg, var(--accent-color-1) 30%, var(--accent-color-2));
}
.footer-background {
  height: 50px;
  background-color: #1C2A3F;
  color: white;
  text-align: center;
}
.footer-container {
  width: 80%;
  max-width: 845px;
  display: inline-block;
  text-align: right;
  margin-top: 15px;
  font-size: 14px;
  color: #d1d4d8;
}
.footer-container a {
  margin: 0;
  margin-right: 4%;
  text-decoration: none;
  background: initial;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  color: #d1d4d8;
}
.footer-container p {
  margin: 0;
  float: left;
}
@media (max-width:720px) {
  .footer-container {
    width: 95%;
  }
}

/* Animations */
@keyframes background {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes title {
    0%{background-position:100% 100%}
    95%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@keyframes bump {
    0%{margin-left: 0;}
    48%{margin-left: 0;}
    50%{margin-left: 4px;}
    52%{margin-left: 0;}
    100%{margin-left: 0;}
}
/* Adjusting based on width */


* {
  /* border: 1px solid red; */
}
