@font-face {
  font-family: "LemonMilk";
  src: url("../fonts/LemonMilk/LemonMilklight.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "LemonMilk";
  src: url("../fonts/LemonMilk/LemonMilk.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/AvenirNextLTPro-Regular.otf");
  font-weight: 500;
  font-style: normal;
}

body {
  width: 100%;
  margin: 0;
  background-color: white;
  font-family: "Avenir";
}

h1 {
  font-family: "LemonMilk";
  font-size: 6em;
  margin: 0;
}

h3 {
  font-size: 2em;
}

h5 {
  font-size: 1.4em;
}

.row {
  display: flex;
  width: 100%;
}

.content {
  max-width: 60vw;
  margin: 0 auto;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.hidden {
  visibility: hidden;
}

/* TEXT ONLY */
.blurred {
  color: transparent;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #a9d9bc;
  color: #a97c50;
  display: flex;
  justify-content: space-between;
  /*box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);*/
}

.navbar.content {
  margin: 0 20vw;
}

.navbar-logo {
  flex-grow: 1;
  margin: auto 50px;
  max-height: 80px;
}

.navbar-half {
  flex-grow: 1;
  max-width: calc(50% - 100px);
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #a97c50;
  font-family: "LemonMilk";
  font-size: 1.8em;
  font-weight: 300;
  text-decoration: none;
  margin: auto 0;
}

.navbar .blurred {
  color: transparent;
  text-shadow: 0 0 3px rgba(169, 124, 80, 1);
}

.splash {
  padding-top: 80px;
  background-color: #a9d9bc;
  color: white;
}

.about p {
  max-width: 60%;
  margin: 0 auto;
}

.faq {
  
}

.faq h5 {
  margin: 0;
}

/* Why bean?  Why not? */
.bean-pile {
  display: flex;
  flex-wrap: wrap;
}

.bean {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 1em;
}

.bean-filler {
  height: 0;
}
