@media (max-width: 1580px) {
    html {
        overflow-x: hidden;
    }

    .content {
        max-width: 80vw;
        margin: 0 10vw;
    }

    .navbar.content {
        margin: 0 10vw;
    }

    #mlh-trust-badge {
        right: 20px;
    }
}

@media (max-width: 1180px) {
    .content {
        max-width: 90vw;
        margin: 0 5vw;
    }

    .navbar.content {
        max-width: 80vw;
        margin: 0 10vw;
    }

    #mlh-trust-badge {
        max-width: 80px;
    }
}

@media (max-width: 1060px) {
    .navbar {
        position: relative;
    }

    .navbar.content {
        max-width: 90vw;
        margin: 0 5vw;
    }

    #mlh-trust-badge {
        position: relative;
        right: 10px;
    }

    .navbar-half {
        max-width: 100%;
        justify-content: space-around;
    }

    .navbar-half * {
        flex-basis: 33%;
        text-align: center;
    }

    #info-row {
        flex-direction: column;
        text-align: center;
    }

    .wifi {
        margin-bottom: -20px;
    }

    .slack {
        margin-top: -20px;
    }

    #nav-links {
        display: none;
    }

    .splash {
        padding-top: 0;
    }

    .splash-title {
        max-width: 80vw;
        font-size: 10vw;
    }

    .about p {
        max-width: 80%;
    }

    .bean {
        width: 46%;
    }

    .bean-pile {
        justify-content: space-around;
    }

    .bean-small {
        width: 30%;
    }

    .faq-desktop {
        display: none;
    }

    .faq-mobile {
        display: block;
        padding-bottom: 2em;
        position: relative;
        width: 60vw;
        margin: 0 auto;
    }

	.faq-mobile .row {
		margin: 0 auto;
	}

    .faq-mobile button {
        height: 75px;
        width: 60vw;
        background-color: #ffd58a;
        color: black;
        border: 2px solid #ffd58a;
        border-radius: 4px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        margin-top: 0.5em;
    }
    
    .faq-mobile button:not(.collapsed) {
        background-color: #ffd58a;
        color: black;
    }
    
    .faq-mobile button:hover {
        background-color: #008A88;
        color: #ffffff;
    }

    .faq-mobile .card {
        background-color: #008A88;
        color: white;
        border: 2px solid #ffd58a;
        border-radius: 4px;
        padding: 1em;
    }

    .location-desktop {
        display: none;
    }

    .location-mobile {
        display: block;
        text-align: center;
    }

    .map-frame {
        margin-left: 5em;
        margin-right: 5em;
    }
}

@media (max-width: 530px) {
    .navbar {
        font-size: 3vw;
    }
    
    .navbar-half * {
        flex-basis: 0;
        text-align: center;
    }

    .navbar-logo-link {
        display: none;
    }

    .about p {
        max-width: 100%;
    }

    .bean {
        width: 92%;
    }

    .faq  .bean {
        width: 100%;
    }

    .media .bean {
        width: 100%;
      }

    .bean-small {
        width: 46%;
    }
}

@media (max-width: 475px) {
    .fc-resource-cell {
        font-size: 0.7em;
    }
}