/* DESKTOP */
@media (min-width:1440px) {
  /* header */
  .header-container {
    height: 562px;
  }
  #logo {
    width: 432px;
    height: 406px;
  }
  .logo-container {
    top: 190px;
  }
  .header-text-container {
    width: 388px;
    height: 288px;
    top: 173px;
  }
  .title {
    font-size: 5.2em;
    letter-spacing: 1px;
  }
  .subtitle {
    font-size: 1.65em;
    letter-spacing: 1.2px;
    top: 92px;
    left: 3px;
  }
  /* buttons */
  .buttons {
    height: 130px;
  }
  .button {
    height: 40px;
  }
  .button p {
    font-size: 1.26em;
    letter-spacing: 1px;
    padding: 0 20px;
    margin-top: 9px;
  }
  /* background */
  .content-container {
    margin-left: calc((100% - 1008px) / 2);
    align-self: center;
    width: 1008px;
  }
  .background-container .kite {
    margin-top: -2vw;
  }
  #bottom-plane {
    width: 500px;
    margin-top: -420px;
    margin-left: calc(100% - 500px);
  }
  .bottom-content {
    padding-top: 2vw;
  }
  /* newest archive */
  .newest-text .newest-title {
    font-size: 4.8em;
    letter-spacing: 1px;
  }
  .newest-card img {
    height: 70%;
    top: 15%;
  }
  .newest-text .newest-subtitle {
    font-size: 2.1em;
  }
  .newest-text .newest-subtitle span {
    font-size: 1.3em;
  }
  .newest-text .highlight {
    top: 108px;
    left: 55px;
    height: 18px;
    width: 82px;
  }
}

/* STYLE FIXES */
@media (max-width:968px) {
  .content-container {
    width: 75%;
    margin-left: 12.5%;
  }
  .about-info p {
    font-size: .98em;
  }
  /* archive */
  .archive-item {
    height: 220px;
  }
  #newest-container {
    width: 100%;
    height: 220px;
  }
  .newest-card img {
    right: 10%;
  }
  .newest-text {
    left: 10%;
  }
  #archive-info {
    margin-top: 50px;
  }
  .stats-item h1 {
    font-size: 1.3em;
  }
  .stats-item p {
    font-size: 1em;
  }
  #bottom-plane {
    width: 300px;
    margin-left: calc(104% - 300px);
  }
  .contact-text {
    font-size: 1.1em;
  }
}

/* TABLET */
@media (max-width:720px) {
  /* nav bar/hamburger */
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #25283d;
    margin: 5px;
    border-radius: 25px;
    transition: transform .1s;
  }
  nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 150px;
    height: 150vh;
    background: #fff;
    z-index: 2;
    box-shadow: 3px 3px 15px -5px rgba(0,0,0,.5);
    -webkit-transform: translateX(150px);
		transform: translateX(150px);
	  transition: transform 200ms linear;
  }
  .hamburger {
    position: fixed;
    cursor: pointer;
    right: 5%;
    top: 10px;
    z-index: 3;
  }
  .nav-links {
    right: 40px;
    top: 60px;
    height: 250px;
    width: auto;
    flex-direction: column;
    pointer-events: all;
  }
  nav.open {
    -webkit-transform: translateX(0);
		transform: translateX(0);
	  transition: transform 200ms linear;
  }
  .hamburger .line:nth-child(1).open {
    transform-origin: center;
    transform: rotate(45deg) translate(6px, 5px);
    transition: transform .1s;
  }
  .hamburger .line:nth-child(2).open {
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .1s;
  }
  .hamburger .line:nth-child(3).open {
    transform-origin: center;
    transform: rotate(-45deg) translate(6px, -6px);
    transition: transform .1s;
  }
  .nav-links li {
    float: right;
    font-size: 1em;
    margin: 0;
  }
  /* about */
  .video-container {
    float: none;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 20px;
    max-width: none;
  }
  .about-info {
    max-width: none;
    width: 100%;
  }
  .about-container p {
    font-size: 1em;
  }
  /* header */
  .header-container {
    height: 276px;
  }
  #logo {
    width: 216px;
    height: 203px;
  }
  .logo-container {
    top: 95px;
  }
  .header-text-container {
    width: 195px;
    height: 145px;
    top: 85px;
  }
  .title {
    top: 2px;
    font-size: 2.3em;
    letter-spacing: .8px;
  }
  .subtitle {
    font-size: .786em;
    letter-spacing: .6px;
    top: 45px;
  }
  /* buttons */
  .buttons {
    height: 65px;
  }
  .button {
    height: 25px;
  }
  .button p {
    font-size: .68em;
    letter-spacing: .8px;
    padding: 0 10px;
    margin-top: 6px;
  }
  /* background */
  /* .background-container svg:nth-child(2) {
    margin-top: calc(200px - 12vw);
  }
  .background-container svg:nth-child(3) {
    margin-top: 1090px;
  } */
  #bottom-plane {
    width: 200px;
    margin-top: -420px;
    margin-left: calc(100% - 200px);
  }
  #trees {
    position: absolute;
    top: -50px;
    left: -10px;
    width: 250px;
    z-index: 0;
  }
  /* archive */
  .archive-container {
    margin-top: -25px;
    height: 410px;
  }
  .archive-item {
    height: 150px;
  }
  .archive-item p {
    font-size: .9em;
  }
  .archive-info-container .head #year {
    font-size: 3.2em;
  }
  .archive-info-container .head {
    height: 50px;
  }
  .archive-info-container .button {
    height: 40px;
  }
  .archive-info-container .button p {
    font-size: 1.2em;
    padding: 0 15px;
    margin-top: 9px;
  }
  #team-button {
    width: 100%;
    max-width: 300px;
  }
  /* newest archive */
  #newest-container {
    height: 190px; /* must change card height as well */
  }
  .newest-text .newest-title {
    font-size: 2.3em;
    letter-spacing: -.2px;
  }
  .newest-text .button {
    height: 20px;
    top: -3px;
    width: 83px;
    left: 5px;
  }
  .newest-text .button p {
    margin-left: -2px;
    margin-top: 4px;
    width: 83px;
  }
  .newest-text {
    left: 8%;
  }
  .newest-text .newest-subtitle {
    font-size: 1.2em;
  }
  .newest-text .newest-subtitle span {
    font-size: 1.15em;
  }
  .newest-text .highlight {
    top: 54px;
    left: 27.5px;
    height: 9.3px;
    width: 41px;
  }
  .newest-card {
    height: 190px;/* must change container height as well */
  }
  .newest-card h1 {
    top: 50px;
    font-size: 4vw;
  }
  .newest-card img {
    height: 50%;
    top: 25%;
    right: 10%;
  }
  #archive-info {
    margin-top: 20px;
  }
  .footer {
    font-size: .5em;
  }
  .contact-text {
    font-size: .9em;
  }

}

/* PHONE */
@media (max-width:520px) {
  .content-container {
    margin-left: 10%;
    width: 80%;
  }
  .newest-card img {
    height: 40%;
    top: 30%;
  }
  .archive-info-container .button {
    height: 35px;
  }
  .archive-info-container .button p {
    font-size: 1em;
    letter-spacing: auto;
    padding: 0 10px;
    margin-top: 9px;
  }
}

/* SMALL SMALL... */
@media (max-width:430px) {
  .content-container {
    margin-left: 5%;
    width: 90%;
  }
  .archive-info-container .button {
    height: 32px;
  }
  .archive-info-container .button p {
    font-size: .8em;
    letter-spacing: auto;
    padding: 0 8px;
    margin-top: 9px;
  }
  .footer {
    font-size: .4em;
  }
}
