:root {
  --transition-time: .5s;
}

/* Header */
.header-container {
  height: 50px;
}

/* Timeline */
.timeline-header {
  /* border: 1px solid black; */
  height: 105px;
}
.timeline-header-year {
  height: 105px;
  width: 25%;
  margin-left: 5%;
}
.timeline-header-year svg {
  width: 100%;
  margin-top: 35px;
}
.timeline-header-year text {
  font-weight: bold;
}
.timeline-header-p {
  position: absolute;
  width: 65%;
  left: 33%;
  top: 19px;
  text-align: left;
  font-size: 18px;
}
.timeline-header-p a {
  font-weight: bold;
  background: linear-gradient(130deg, var(--accent-color-2), #FF9366, #ddd, #ffffff);
  background-size: 300% 300%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .4s;
}
.timeline-header-p a:hover {
  background-position: 100% 90%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .75s;
}
@media (max-width:1115px) {
  .timeline-header-p {
    font-size: 16px;
  }
}
@media (max-width:927px) {
  .timeline-header-p {
    font-size: 2.1vw;
    top: 5px
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
.reveal-container {
  height: 480px;
  width: 90%;
  position: absolute;
  overflow: hidden;
  bottom: 40px;
  left: 5%;
}
.reveal-wrapper {
  position: relative;
  /* border-top: 2px solid var(--accent-color-3); */
  height: 480px;
  overflow: hidden;
}
.reveal-logo {
  position: absolute;
  width: 20%;
  overflow: hidden;
  height: auto;
}
.team-container {
  position: absolute;
  width: 100%;
  height: 340px;
  top: 130px;
}
.team-title {
  position: absolute;
  left: 0;
}
.team-content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 32px;
  height: calc(100% - 30px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.team-item {
  border-radius: 15px;
  background-color: white;
  position: relative;
  display: inline-block;
  /* float: left; */
  margin: 5px 5px;
  height: 85px;
  width: 300px;
  overflow: hidden;
  text-align: left;
}
.team-img {
  position: absolute;
  height: 85px;
  width: 85px;
}
.team-img img {
  height: 85px;
}
.team-p {
  color: black;
  margin-left: 95px;
  margin-top: 21px;
}
.team-p h1 {
  font-size: 18px;
  margin: 0;
}
.team-p p {
  font-size: 13px;
  margin: 0;
}
.reveal-text {
  position: absolute;
  /* border: 1px solid black; */
  height: auto;
  font-size: 15px;
  left: 25%;
  width: 70%;
  text-align: left;
}
.timeline-wrapper {
  min-width: 363px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 75%;
  display: inline-block;
  max-width: 845px;
}
.timeline-container {
  margin-top: 50px;
}
.timeline-item {
  width: 100%;
  height: 150px;
  background-color: var(--accent-color-4);
  border-radius: 30px;
  transition: var(--transition-time);
  transition-timing-function: ease-in-out;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width:720px) {
  .timeline-wrapper {
    width: 90%;
  }
  .reveal-text {
    font-size: 2vw;
  }
  .reveal-logo {
    margin-top: 10px;
  }
  .timeline-item {
    /* height: 20.5vw; */
    /* height: 120px; */
  }
  .timeline-header-p {
    left: 5%;
    font-size: 12px;
    top: 48px;
    width: 90%;
  }
  .timeline-header-year svg {
    margin-top: 21px;
  }
  .timeline-header-year  {
    margin-left: 5%;
    width: 100px;
  }
}
@media (max-width:550px) {
  .reveal-text {
    font-size: 12px;
  }
}
.timeline-opened {
  height: 650px;
}
.reveal-button {
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  animation: buttonBounce 5s infinite ease-in-out;
  width: 15px;
}
#reveal-button-2020 {animation-delay: 0s}
#reveal-button-2019 {animation-delay: .3s}
#reveal-button-2018 {animation-delay: .6s}
.timeline-opened .reveal-button {
  transform: rotate(180deg);
  transition: var(--transition-time);
}
.timeline-closed .reveal-button {
  transform: rotate(0deg);
  transition: var(--transition-time);
}
/* Content */
.content-backsplash {
  height: auto;
}
.content-text {
  width: 60%;
  max-width: 700px;
  height: auto;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 75px;
}
@media (max-width:720px) {
  .content-text {
    width: 95%;
  }
}
h2 {
  font-size: .8em;
  letter-spacing: 10px;
  margin: 0;
  font-weight: 400;
}
.content-text h1 {
  font-size: 2.5em;
  margin: 0;
  margin-top: 25px;
}
.content-text p {
  font-size: 1.1em;
  margin: 13px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: left;
}
.invert-link {
  font-weight: bold;
  background: linear-gradient(130deg, var(--accent-color-2), #FF9366, #ddd, #ffffff);
  background-size: 300% 300%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .75s;
}
.invert-link:hover {
  background-position: 100% 90%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-text img {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

/** Scroll Bar **/
.team-content::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: var(--accent-color-4);
}
.team-content::-webkit-scrollbar
{
	width: 3px;
	background-color: var(--accent-color-4);
}
.team-content::-webkit-scrollbar-thumb
{
  border-radius: 3px;
	background-color: #fff;
}

@keyframes buttonBounce {
  0% {margin-bottom: 0;}
  4% {margin-bottom: 5px;}
  8% {margin-bottom: 0;}
  100% {margin-bottom: 0;}
}


* {
  /* border: 1px solid red; */
}
