/* Header */
.header-container {
  height: 50px;
}

/* Timeline */
.timeline-wrapper {
	overflow: hidden; /* simple clearfix */
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  display: inline-block;
  max-width: 845px;
}
.timeline-container {
  width: auto;
  height: auto;
  display: inline-block;
}
.timeline-item {
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  display: inline-block;
}
.timeline-description {
  text-align: left;
}
.timeline-description img {
  width: 150px;
  display: inline-block;
  margin: 0;
}
.timeline-description div {
  display: inline-block;
  margin: 0 0 0 15px;
  width: calc(100% - 180px);
  vertical-align: top;
}
.team-container
{
  display: inline-block;
  text-align: left;
}
.timeline-item h1 {
  border-bottom: 4px solid white;
  text-align: center;
  font-size: 3em;
  background: linear-gradient(130deg, var(--accent-color-2), #FF9366, #ddd, #ffffff);
  background-size: 300% 300%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .75s;
  margin: 0;
}
.team-container h3 {
  font-size: 1.5em;
  /* text-decoration: underline; */
  margin: 0;
  text-align: left;
}
.team-item {
  position: relative;
	width: 80px;
	height: 100px;
  color: #fff;
  margin: 0 20px 20px 0;
  /* border-radius: 50px; */
  display: inline-block;
}
.team-item p {
  font-size: 10px;
  white-space: nowrap;
  margin: 0;
  display: flex;
  justify-content: center;
}
.team-item img {
  width: 100%;
  border-radius: 3px;
  border: 1px solid white;
}

/* Content */
.content-backsplash {
  height: auto;
}
.content-text {
  width: 60%;
  max-width: 700px;
  height: auto;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 75px;
}
@media (max-width:720px) {
  .content-text {
    width: 95%;
  }
}
h2 {
  font-size: .8em;
  letter-spacing: 10px;
  margin: 0;
  font-weight: 400;
}
.content-text h1 {
  font-size: 2.5em;
  margin: 0;
  margin-top: 25px;
}
.content-text p {
  font-size: 1.1em;
  margin: 13px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: left;
}
.invert-link {
  font-weight: bold;
  background: linear-gradient(130deg, var(--accent-color-2), #FF9366, #ddd, #ffffff);
  background-size: 300% 300%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .75s;
}
.invert-link:hover {
  background-position: 100% 90%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-text img {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}




* {
  /* border: 1px solid red; */
}
