:root {
  --transition-time: .5s;
}

/* Header */
.header-container {
  height: 50px;
}

/* Timeline */
.timeline-wrapper {
	overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 75%;
  display: inline-block;
  max-width: 845px;
}
@media (max-width:720px) {
  .timeline-wrapper {
    width: 95%;
  }
}
.timeline-container {
  margin-top: 50px;
}
.timeline-item {
  width: 100%;
  height: 175px;
  background-color: var(--accent-color-4);
  border-radius: 30px;
  transition: var(--transition-time);
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
.timeline-opened {
  height: 500px;
}
.timeline-item img {
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  animation: buttonBounce 5s infinite ease-in-out;
}
#reveal-button-2020 {animation-delay: 0s}
#reveal-button-2019 {animation-delay: .3s}
#reveal-button-2018 {animation-delay: .6s}
.timeline-opened img {
  transform: rotate(180deg);
  transition: var(--transition-time);
}
.timeline-closed img {
  transform: rotate(0deg);
  transition: var(--transition-time);
}
/* Content */
.content-backsplash {
  height: auto;
}
.content-text {
  width: 60%;
  max-width: 700px;
  height: auto;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 75px;
}
@media (max-width:720px) {
  .content-text {
    width: 95%;
  }
}
h2 {
  font-size: .8em;
  letter-spacing: 10px;
  margin: 0;
  font-weight: 400;
}
.content-text h1 {
  font-size: 2.5em;
  margin: 0;
  margin-top: 25px;
}
.content-text p {
  font-size: 1.1em;
  margin: 13px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: left;
}
.invert-link {
  font-weight: bold;
  background: linear-gradient(130deg, var(--accent-color-2), #FF9366, #ddd, #ffffff);
  background-size: 300% 300%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .75s;
}
.invert-link:hover {
  background-position: 100% 90%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content-text img {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

@keyframes buttonBounce {
  0% {margin-bottom: 0;}
  4% {margin-bottom: 5px;}
  8% {margin-bottom: 0;}
  100% {margin-bottom: 0;}
}


* {
  /* border: 1px solid red; */
}
